## Choose a cluster dataset of your choice and perform the following.

## 1. Clean and prepare the dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5

In [4]:
df.tail()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
995,996,633238,743850,5,125092,1,6,11,171,95,97,190744.0
996,997,599626,848195,4,83370,2,9,14,161,101,120,419748.0
997,998,646344,842733,7,86722,1,8,9,196,113,89,405871.0
998,999,535559,732439,2,140478,4,5,9,184,112,128,74398.0
999,1000,590105,779743,5,67295,4,2,8,199,99,96,414938.5

In [5]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [6]:
df.columns

Index(['v.id', 'on road old', 'on road now', 'years', 'km', 'rating',
       'condition', 'economy', 'top speed', 'hp', 'torque', 'current price'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   v.id           1000 non-null   int64
 1   on road old    1000 non-null   int64
 2   on road now    1000 non-null   int64
 3   years          1000 non-null   int64
 4   km             1000 non-null   int64
 5   rating         1000 non-null   int64
 6   condition      1000 non-null   int64
 7   economy        1000 non-null   int64
 8   top speed      1000 non-null   int64
 9   hp             1000 non-null   int64
 10  torque         1000 non-null   int64
 11  current price  1000 non-null   float64
dtypes: float64(1), int64(11)
memory usage: 93.9 KB

In [8]:
df.describe()

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
count,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.00000
mean,500.500000,601648.286000,799131.3970,4.561000,100274.430000,2.988000,5.592000,11.625000,166.89300,84.54600,103.423000,308520.24250
std,288.819436,58407.246204,57028.9502,1.719079,29150.463233,1.402791,2.824449,2.230549,19.28838,20.51694,21.058716,126073.25915
min,1.000000,500265.000000,700018.0000,2.000000,50324.000000,1.000000,1.000000,8.000000,135.00000,50.00000,68.000000,28226.50000
25%,250.750000,548860.500000,750997.7500,3.000000,74367.500000,2.000000,3.000000,10.000000,150.00000,67.00000,85.000000,206871.75000
50%,500.500000,601568.000000,798168.0000,5.000000,100139.500000,3.000000,6.000000,12.000000,166.00000,84.00000,104.000000,306717.75000
75%,750.250000,652267.250000,847563.2500,6.000000,125048.000000,4.000000,8.000000,13.000000,184.00000,102.00000,121.000000,414260.87500
max,1000.000000,699859.000000,899797.0000,7.000000,149902.000000,5.000000,10.000000,15.000000,200.00000,120.00000,140.000000,584267.50000

## 2. Split the dataset in the ratio 75;25 for train-test split

In [9]:
X =  df.drop(["current price","v.id"],axis =1)
y =  df['current price']

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=101)

## 3. Build linear regression model, polynomial model, lasso model and ridge model

## linear regression model

In [12]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [13]:
lr.fit(X_train,y_train)

LinearRegression()

In [14]:
pred1 = lr.predict(X_test)

## polynomial model

In [15]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 3)
X_poly_train = poly_reg.fit_transform(X_train)
X_poly_test = poly_reg.fit_transform(X_test)

In [16]:
poly = LinearRegression()
poly.fit(X_poly_train, y_train)

LinearRegression()

In [17]:
pred2 = poly.predict(X_poly_test)

## lasso model

In [18]:
from sklearn.linear_model import Lasso
lasso = Lasso()

In [19]:
lasso.fit(X_train,y_train)

Lasso()

In [20]:
pred3 = lasso.predict(X_test)

## ridge model

In [21]:
from sklearn.linear_model import Ridge
ridge = Ridge()

In [22]:
ridge.fit(X_train,y_train)

Ridge()

In [23]:
pred4 = ridge.predict(X_test)

## 4. Print the MSE, RMSE and R 2 for each model

In [24]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

## linear regression model

In [25]:
print('Mean Squared Error:',mean_squared_error(y_test,pred1))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,pred1)))
print('R2:',r2_score(y_test,pred1))

Mean Squared Error: 79470086.48594439
Root Mean Squared Error: 8914.599625667122
R2: 0.9951708297607944

## polynomial model

In [26]:
print('Mean Squared Error:',mean_squared_error(y_test,pred2))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,pred2)))
print('R2:',r2_score(y_test,pred2))

Mean Squared Error: 45008456.852057375
Root Mean Squared Error: 6708.834239423223
R2: 0.997264964592923

## lasso model

In [27]:
print('Mean Squared Error:',mean_squared_error(y_test,pred3))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,pred3)))
print('R2:',r2_score(y_test,pred3))

Mean Squared Error: 79465887.3455957
Root Mean Squared Error: 8914.364102144118
R2: 0.9951710849305633

## ridge model

In [28]:
print('Mean Squared Error:',mean_squared_error(y_test,pred4))
print('Root Mean Squared Error:',np.sqrt(mean_squared_error(y_test,pred4)))
print('R2:',r2_score(y_test,pred4))

Mean Squared Error: 79464627.58770613
Root Mean Squared Error: 8914.293442988408
R2: 0.9951711614824532